[submodule "vendor/luau"]
	path = vendor/luau
	url = https://github.com/luau-lang/luau.git
[submodule "vendor/manifold"]
	path = vendor/manifold
	url = https://github.com/elalish/manifold.git
[submodule ".tools/emsdk"]
	path = .tools/emsdk
	url = https://github.com/emscripten-core/emsdk.git
